@media screen and (max-width:1280px) {
    .navButton, .navButton2 {
        margin: 5px;
    }

    .navButton2 {
        margin-left: 160px;
        margin-right: 10px;
    }

    .listButton {
        width: 50px;
        height: 50px;
    }

    header.sticky {
        position: fixed;
        height: 80px;
        padding: 5px 80px;
    }

    .navh1 {
       margin-left: 350px;        
    }

}

@media screen and (max-width:1200) {

}

@media screen and (max-width:1000px) {
    .navButton, .navButton2 {
        display: none;
    }

    .listButton {
        width: 50px;
        height: 50px;
    }

    header.sticky {
        position: fixed;
        height: 80px;
        padding: 5px 80px;
    }

    .navh1 {
        margin-right: 70%;
    }

}

@media screen and (max-width:768px) {
    header.sticky {
        position: fixed;
        height: 100px;
        padding: 40px 100px;
    }

    .headerArea {
        background: transparent;
        height: 200px;
    }

    .navButton, .navButton2 {
        position: absolute;
        right: 0px;
        width: 45px;
        height: 92vh;
        top: 8vh;
        display: none;
        flex-direction: column;
        width: 50%;
        transform: translate(100%);
        
    }
    .navh1 {
        right: 0;
        margin-left: 85px;
    }
    .listButton {
        width: 50px;
        height: 50px;
    }
}
