.isi {
    margin-top: 100px;
}

.listButton, .navButton, .navButton2, .navButton::after, .navButton::before, .navButton2::after, .navButton2::before, .listButton::after, .listButton::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:focus:active {
    outline: none;
  }

.headerArea {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: transparent;
    height: 100px;
    width: 100%;
    top: 0;
    z-index: 100;
    z-index: 100;
}

header.sticky {
    height: 80px;
    padding: 5px 80px;
    background: #ffffff;
    transition: 0.7s;
}

.listButton {
    background-color: #B2D7AB;
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.listButton:hover {
    background-color: #454544;
}

.ellipse1 {
    width: 300px;
    height: 764px;
    left: 617px;
    top: -120px;
    border-radius: 100%;

    /* position */
    z-index: -100;
    position: absolute;
    /* main background */

}


.navh1 {
    margin-left: 365px;

    font-style: normal;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

}

.satu {
    color: #000000;
}

.dua {
    color: #429060;
}

.navButton2 {   

    margin-left: 215px;
    /* body text */
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #9B9B9B;
    
    /* nav setting */
    background-color: transparent;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navButton2:hover {
    color: #429060;
}

.navButton {
    width: 140px;
    height: 50px;

    /* body text */
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.01em;
    
    
    /* nav setting */
    background-color: #429060;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navButton:hover {
    background-color: #454544;
    border: none;
    outline: none;
}

@media(max-width: 786px) {

    .headerArea {
          max-height: 0px;
          background: #ffffff;
    }

    .showing {
          max-height: 34em;
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
          outline: none;
    }

}

.about_text {
    position: absolute !important;
    margin-left: 57px;
    margin-top: 100px;
}

.sectionhomeh1 {
    width: 439px;
    height: 67px;
    left: 160px;
    top: 262px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 116%;
}

.sectionhomesmall {
    margin-top: 120px;
    width: 409px;
    height: 48px;
    left: 160px;
    top: 482px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #9B9B9B;
}

.about_all-img {
    margin-top: 333px;
}

.about_img {
   /* react rect 298 */
    width: 460px;
    position: absolute;
    left: 75%;
    right: 17.41%;
    top: 1.1%;
    bottom: 82.3%;

    background: rgba(255, 255, 255, 0.0392157);
    transform: rotate(24.45deg);
    transform: translate(10px,-350px);

}

.img-fluid {
    transform: rotate(24.45deg);
}

.about_img2 {
    /* Vector */
    position: absolute;
    left: 67.56%;
    right: 0;
    top: 8.93%;
    bottom: 74.61%;

    transform: translate(470px,-320px);
    
}

.img-fluidtwo {
    width: 365px;

}

.about_img3 {
    position: absolute;
    left: 120%;
    right: -18.5%;
    top: 15.24%;
    bottom: 71.24%;
}

.img-fluidthree {
    width: 400px;
    transform: matrix(-0.91, 0.42, 0.42, 0.91, -20, -90);
}

.sectionbuttondaftar {
    width: 140px;
    height: 55px;
    left: 160px;
    top: 554px;
    margin-top: 7px;

    /* second green */

    background: #429060;
    border-radius: 50px;
    border: none;
    
    /* body text */

    font-family: Nunito;
    font-style: normal;
    font-weight: 510;
    font-size: 18px;
    line-height: 120%;

    /* identical to box height, or 24px */

    letter-spacing: -0.01em;

    /* Gray 6 */

    color: #F2F2F2;
}

.sectionbuttondaftar:hover {
    background-color: #454544;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.sectionbuttondaftar, .sectionbuttondaftar::after, .sectionbuttondaftar::before {
    box-sizing: border-box;
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.sectionbuttonlihatfunction {
    width: 140px;
    height: 55px;
    left: 331px;
    top: 554px;
    margin-left: 5px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;

    /* second green */

    background: transparent;
    border-radius: 50px;
    
    /* body text */

    font-family: Nunito;
    font-style: normal;
    font-weight: 510;
    font-size: 18px;
    line-height: 120%;

    /* identical to box height, or 24px */

    letter-spacing: -0.01em;
}

.sectionbuttonlihatfunction, .sectionbuttonlihatfunction::after, .sectionbuttonlihatfunction::before {
    box-sizing: border-box;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.soloh1 {
    width: 471px;
    height: 40px;
    transform: translate(81%,250px);

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    /* identical to box height, or 40px */


    color: #000000;
}

.img_function1 {
    position: absolute;
    left: 5%;
    right: 47.43%;
    top: 36.51%;
    bottom: 44.32%;

    background: rgba(255, 255, 255, 0.0196078);
}

.img-function1 {
    height: 453,57px;
    width: 561.3px;
    left: 135.5537109375px;
    top: 1019.3883056640625px;
    border-radius: 0px;
    transform: translate(0px,300px);
}

.background-function1 {
    position: absolute;
    width: 440px;
    height: 440px;
    left: 123px;
    top: 801px;
    border-radius: 100%;

    background: #E6F5E3;
    z-index: -100;
}

.about-function {
    position: absolute;
}

.sectionfunctionh1 {
    /* Keluar dari comfort zone kamu */

    position: absolute;
    width: 471px;
    height: 106px;
    left: 575px;
    top: 404px;

    /* H2 */

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 110%;
    /* or 53px */

    display: flex;
    align-items: center;

    color: #000000;
}

.sectionfunctionsmall {
    /* Jangan asal melakukan sesukamu, ayo keluar dari zona nyaman mu dan buktikan bahwa kamu lebih dari yang mereka kira */

    position: absolute;
    width: 442px;
    height: 72px;
    left: 575px;
    top: 539px;

    /* body text */

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */

    letter-spacing: -0.01em;

    color: #9B9B9B;

}

.sectionbuttondaftarfunction {
    position: absolute;
    width: 140px;
    height: 55px;
    left: 569px;
    top: 640px;

    /* second green */

    background: #429060;
    border-radius: 50px;
    border: none;

    /* body text */

    font-family: Nunito;
    font-style: normal;
    font-weight: 510;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    letter-spacing: -0.01em;

    /* Gray 6 */

    color: #F2F2F2;
}

.sectionbuttondaftarfunction:hover {
    background-color: #454544;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.sectionbuttondaftarfunction, .sectionbuttondaftarfunction::after, .sectionbuttondaftarfunction::before {
    box-sizing: border-box;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.sectionfunctionsecondh1 {
    
    /* Jangan bikin ribet hidup kamu :) */

    position: absolute;
    width: 419px;
    height: 106px;
    left: 100px;
    top: 960px;

    /* H2 */

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 110%;
    /* or 53px */

    display: flex;
    align-items: center;

    color: #000000;

}

.sectionfunctionsecondsmall {

    /* hidup jangan dibikin pusing, enjoy ur live and do your the best. */

    position: absolute;
    width: 360px;
    height: 48px;
    left: 100px;
    top: 1095px;

    /* body text */

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */

    letter-spacing: -0.01em;

    color: #9B9B9B;

}

.sectionbuttondaftarfunctionsecond {
    
    position: absolute;
    width: 140px;
    height: 55px;
    left: 100px;
    top: 1190px;

    /* second green */

    background: #429060;
    border-radius: 50px;
    border: none;

    /* body text */

    font-family: Nunito;
    font-style: normal;
    font-weight: 510;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    letter-spacing: -0.01em;

    /* Gray 6 */

    color: #F2F2F2;

}

.sectionbuttondaftarfunctionsecond:hover {
    background-color: #454544;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.sectionbuttondaftarfunctionsecond, .sectionbuttondaftarfunctionsecond::after, .sectionbuttondaftarfunctionsecond::before {
    box-sizing: border-box;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.img-function2 {
    position: absolute;
    height: 420px;
    width: 577px;
    border-radius: 0px;
    top: 910px;
    left: 650px;

    background: rgba(255, 255, 255, 0.0196078);
}

.background-function2 {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 664px;
    top: 1320px;
    z-index: -100;
    border-radius: 100%;

    background: #E6F5E3;
}

.background-pricelist {
    position: absolute;
    width: 990px;
    height: 300px;
    left: 143px;
    top: 1951px;
    z-index: -100;
    margin-bottom: 100px;

    /* light green */

    background: #E6F5E3;
    border-radius: 50px;
}

.sectionpricelisth1 {
    /* Ayo coba pakai Ngabsen, gratis 100% boss! */

    position: absolute;
    width: 688px;
    height: 138px;
    left: 138px;
    top: 1529px;

    /* H1 */

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;

}

.kalimat1, .kalimat3 {
    color: #000000;
}

.kalimat2 {
    color: #429060;
}

.sectionpricelistsmall {
    /* sekut lah semua ayokk cobain dulu siapa tau nyaman xixixi */

    position: absolute;
    width: 308px;
    height: 48px;
    left: 138px;
    top: 1671px;

    /* body text */

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */

    letter-spacing: -0.01em;

    color: #9B9B9B;

}

.sectionbuttondaftarpricelist {
    position: absolute;
    width: 140px;
    height: 55px;
    left: 847px;
    top: 1593px;

    /* second green */

    background: #429060;
    border-radius: 50px;
    border: none;

    /* body text */

    font-family: Nunito;
    font-style: normal;
    font-weight: 510;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    letter-spacing: -0.01em;

    /* Gray 6 */

    color: #F2F2F2;
}

.one {
    position: absolute;
    left: 12.09%;
    top: 1951.5px;
    
    z-index: -100;
}

.two {
    position: absolute;
    left: 59%;
    top: 1951.5px;

    z-index: -100;
}

.sectionbuttondaftarpricelist, .sectionbuttondaftarpricelist::after, .sectionbuttondaftarpricelist::before {
    box-sizing: border-box;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}